OPENROUTER_API_KEY=
DOC_INGESTION_DEPLOYMENT_URL=
DYNAMODB_REGISTRY_TABLE=kabatoshi-doc-registry
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
LANGSMITH_API_KEY=
LANGSMITH_TRACING_V2=true
LANGSMITH_PROJECT=graph-doc-processor
DATABASE_URL=
